html {
  font-family: 'verdana', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 300px;
}

h3 {
  margin-top: 0;
  font-size: 1.8rem;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

/*legend qualities */
#legend {
  width: 300px;
  position: absolute;
  bottom: 0;
}

.legend label, .legend span {
  display: block;
  float: left;
  height: 16px;
  width: 15%;
  text-align: center;
  font-size: 9px;
  color: #000;
}

#feature-info {
  background: #dbbebb;
  padding: 15px;
  min-height: 140px;
}

/* sidebar is fixed with and positioned to the left */
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #f5ded2;
  color: #000;
  padding: 25px;
  box-sizing: border-box;
}
