html {
  font-family: 'gothic', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 300px;
  margin-left: 20%; /*creates room for the sidebar */
}

h3 {
  margin-top: 0;
  font-size: 1.8rem;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

#feature-info {
  background: #dbbebb;
  padding: 10px;
  min-height: 140px;
}

.nav-item {
  font-family: 'gothic', sans-serif;
  text-align: left;
  position: absolute;
  width: 100px;
  float: left;
  display: block;
}

/* sidebar is fixed with and positioned to the left */
#sidebar {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f0e5;
  overflow-x: hidden;
  padding: 20px;
  margin: auto;
}
